.btn__navbarcolor{
    background-color: blueviolet;
    color: #fff;
    }
    /* 
    .clase{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    d-flex justify-content-center */